<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=54964013-95be-441c-9c00-a4f600791643.sqlserver.sequelizer.com;Database=db5496401395be441c9c00a4f600791643;User ID=czpujwsntbuvidsb;Password=bnWe8ECmM6rCwEJANMUqKHHCiySWePsNK6SWPuxHzyjyKpipAukQvBzzMt5GUNh7;" />
  </connectionStrings>
</configuration>